@using JGBugTracker.Models.Enums
@using JGBugTracker.Services.Interfaces
@model IEnumerable<JGBugTracker.Models.Project>

@inject IBTFileService _fileService
@inject IBTRolesService _rolesService
@inject IBTProjectService _projectService

@{
    ViewData["Title"] = "UnassignedProjects";
}

<div class="container-fluid page-content">
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">Unassigned Company Projects</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-3">
                        Projects
                    </h6>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><strong>Project Name</strong></th>
                                    <th><strong>Created</strong></th>
                                    <th><strong>Start Date</strong></th>
                                    <th><strong>End Date</strong></th>
                                    <th><strong>Project Manager</strong></th>
                                    <th><strong>Priority</strong></th>
                                    <th><strong>Project Image</strong></th>
                                    <th><strong>Action</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Project item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.Name)</td>
                                        <td>@Html.DisplayFor(model => item.Created)</td>
                                        <td>@Html.DisplayFor(model => item.StartDate)</td>
                                        <td>@Html.DisplayFor(model => item.EndDate)</td>
                                        <td>
                                            @if (User.IsInRole(nameof(BTRoles.Admin)))
                                            {
                                                BTUser projectManager = await _projectService.GetProjectManagerAsync(item.Id);
                                                if (projectManager != null)
                                                {
                                                    <p>@projectManager.FullName</p>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-xs btn-info" asp-action="AssignProjectManager" asp-route-id="@item.Id">AssignPM</a>
                                                }
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(model => item.ProjectPriority!.Name)</td>
                                        <td>
                                            @if (item.ImageFileData != null)
                                            {
                                                <img class="img-fluid" src="@_fileService.ConvertByteArrayToFile(item.ImageFileData!, item.ImageFileContentType!)">
                                            }else
                                            {

                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                                                <a asp-action="Archive" asp-route-id="@item.Id">Archive</a> <span>|</span>
                                                <a asp-action="AssignProjectMembers" asp-route-id="@item.Id">Manage Team</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
    }
